---
title: MonitoringEarth.
layout: layouts/home.njk
description: Resources related to monitoring our planet.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  This is a list of resources related to monitoring our planet.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>